<a class="github-button" href="https://github.com/{{ user }}/{{ repo }}" data-icon="octicon-star" data-style="mega" data-count-href="/{{ user }}/{{ repo }}/stargazers" data-count-api="/repos/{{ user }}/{{ repo }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ user }}/{{ repo }} on GitHub">Star</a>
