<!-- /**
* @param {string} class
* @param {string} title
* @param {string} lead
*/ -->
<div class="item col-md-{{divide 12 itemsPerRow }} {{ class }}">
  <img class="item__image my-1" src="{{ image }}" alt="{{ title }}">
  <h3>{{{ title }}}</h3>
  <p>{{{ lead }}}</p>
</div>
