<footer class="{{ class }}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#if image}}
          <img class="mb-1" src="{{ image }}" alt="{{ title }}">
        {{else}}
          <h1>{{{ title }}}</h1>
        {{/if}}
        <div class="row">
          <div class="col-md-8">
            <p>{{{ lead }}}</p>
            <p>{{{ description }}}</p>
            <p class="text-muted">{{{ meta }}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="nav">
          {{#each items}}
            <li class="nav-item">
              {{> link text=this.text href=this.href class="text-muted" }}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</footer>
