<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ lead }}" />
  <meta property="og:image" content="{{ image }}" />
  <link rel="shortcut icon" type="image/png" href="{{ favicon }}"/>
</head>
