<div class="jumbotron {{ class }}">
  <h1 class="display-3">{{{ title }}}</h1>
  <p class="lead">{{{ lead }}}</p>
  <p class="text-muted">{{ meta }}</p>
    <p>
      {{{ description }}}
    </p>
    {{#if image }}
    <img src="{{ image }}" class="img-fluid" alt="{{ image }}" />
    {{/if}}
</div>
