<nav class="navbar {{ class }}">
  <div class="container">
    <a class="navbar-brand" href="/">
     {{#if image}}
      <img src="{{ image }}" alt="{{ title }}">
     {{else}}
      {{ title }}
     {{/if}}
   </a>
    <ul class="nav navbar-nav float-lg-right">
      {{#each items}}
        <li class="nav-item">
          {{> link text=this.text href=this.href class="nav-link" }}
        </li>
      {{/each}}
    </ul>
  </div>
</nav>
