<nav class="navbar navbar-light bg-faded {{ class }}">
  <div class="container">
    <a class="navbar-brand" href="/">
      {{#if image}}
        <img src="{{ image }}" alt="{{ title }}">
      {{else}}
        {{ title }}
      {{/if}}
    </a>
    <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar">
      <ul class="nav navbar-nav float-md-right">
        {{#each items}}
          <li class="nav-item">
            {{> link text=this.text href=this.href class="nav-link" }}
          </li>
        {{/each}}
      </ul>
    </div>
  </a>
</nav>
